<% layout('layouts/boilerplate') -%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div id="map"></div>

<script type="text/javascript">
  mapboxgl.accessToken = "<%= mapBoxPublicToken %>";
  var posts = {features: <%- JSON.stringify(posts) %>};
</script>
<script src="/javascripts/allPostsClusterMap.js" type="text/javascript"></script>
